@page "/Create"
<EditForm Model="@data" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="nome">Nome</label>
        <InputText id="nome" class="form-control" @bind-Value="data.Nome" />
        <ValidationMessage For="@(() => data.Nome)" />
    </div>

    <div class="form-group">
        <label for="site">Site</label>
        <InputText id="site" class="form-control" @bind-Value="data.Site" />
        <ValidationMessage For="@(() => data.Site)" />
    </div>

@*     <div class="form-group">
        <label for="segmento">Site</label>
        <InputText id="segmento" class="form-control" @bind-Value="data.Segmento.Nome" />
        <ValidationMessage For="@(() => data.Segmento.Nome)" />
    </div> *@

    <button type="submit" class="btn btn-primary">Salvar</button>
    <button type="button" class="btn btn-secondary" @onclick="@(() => CreateData())">Enviar para API</button>
    <span>@teste</span>
</EditForm>

@code {
    [Inject]
    private ApiService _apiService { get; set; }
    
    private string teste;

    Data data = new Data
    {
        Nome = "Empresa XPTO",
        Site = "www.empresa-xpto.com",
        DateCreated = new DateCreated { Date = DateTime.UtcNow },
        DateModified = new DateModified { Date = DateTime.UtcNow },
        Active = true,
        CreatedByUser = "leocasttro40@gmail.com",
        ModifiedByUser = null
    };


    private async Task CreateData()
    {
        try 
        {
            var response = await _apiService.CreateDataAsync(data);
        }
        catch (Exception ex) 
        {
            teste = $"Erro na criação de dados: {ex.Message}";
            Console.WriteLine(ex.StackTrace);
        }
    }

    private void HandleValidSubmit()
    {
        // lógica de validação do formulário
    }
}
